In [1]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup
import bs4

# 球員個人紀錄 個人成績表 陳鏞基 三壘手
#url = "http://www.cpbl.com.tw/players/person.html?player_id=L0K0&teamno=L01"
# 球員個人紀錄 個人成績表 官大元 投手
#url = "http://www.cpbl.com.tw/players/person.html?player_id=R139&teamno=E02"
# 球員個人紀錄 個人成績表 江坤宇 游擊手
#url = "http://www.cpbl.com.tw/players/person.html?player_id=004636&teamno=E02"
# 球員個人紀錄 個人成績表 周思齊 左外野手
#url = 'http://www.cpbl.com.tw/players/person.html?player_id=G072&teamno=E02'
# 球員個人紀錄 個人成績表 蘇俊璋 投手 
#url ='http://www.cpbl.com.tw/players/person.html?player_id=005558&teamno=AJL011'

response = requests.get(url)


if response.status_code != 200:
    print(print('URL發生錯誤：' + url))
    
soup = BeautifulSoup(response.text, 'html.parser')

In [2]:
df_battling = pd.DataFrame() # dict 打擊成績 
df_pitching = pd.DataFrame() # dict 投手成績
df_fielding = pd.DataFrame() # dict 守備成績
df_battler_against = pd.DataFrame() # dict 打者對戰成績
df_pitcher_against = pd.DataFrame() # dict 投手對戰成績



tables = soup.find_all("table")
for table in tables[1:]:
    trs = table.find_all("tr")
        # 抓columns
    for tr in trs:
        txs = [tx.text for tx in tr.children if tx != "\n" and not isinstance(tx, bs4.element.Comment)]       
        
        
        if txs[0] == "YEAR" and txs[-1] == "SSA":           
            
            # dict 打擊成績 
            for col in txs:
                df_battling[col] = ""
        
        elif txs[0] == "YEAR" and txs[-1] == "G/F":        
            # dict 投手成績
            for col in txs:
                df_pitching[col] = ""
            
        elif txs[0] == "YEAR" and txs[-1] == "POS":           
            # dict 守備成績
            for col in txs:
                df_fielding[col] = ""
             
        elif txs[0] == "YEAR" and txs[-1] == "FPCT":          
            # dict 歷年守備成績  
            pass
        
        elif txs[0] == "TEAM" and txs[-1] == "SSA": 
            #dict 打者對戰成績 
            for col in txs:
                df_battler_against[col] = ""
        elif txs[0] == "TEAM" and txs[-1] == "ER": 
            #dict 投手對戰成績 
            for col in txs:
                df_pitcher_against[col] = "" 

df_list  = [df_battling, df_pitching, df_fielding, df_battler_against, df_pitcher_against]

In [3]:
tables = soup.find_all("table")
for table in tables[1:]:
    trs = table.find_all("tr")
    columns = [th.text for th in trs[0].find_all("th")]
    
    for df in df_list:
        if columns == list(df.columns):
            for tr in trs:
                tds = [td.text.strip() for td in tr.find_all("td")]
                if len(columns) == len(tds) and tds[0] != "TOTAL" and tds != columns :
                    df.loc[len(df)] = tds

In [4]:
df_battling

,YEAR,TEAM,G,PA,AB,RBI,R,H,1B,2B,...,BB,IBB,HBP,CS,GO,AO,G/F,SB%,TA,SSA
0,2019,中信兄弟,3,7,6,0,2,1,1,0,...,1,0,0,0,2,2,1.000,0.00,0.333,167.67
1,2020,中信兄弟,24,97,89,15,16,32,24,6,...,4,0,0,2,24,24,1.000,0.50,0.833,518.55
2,2018,中信兄弟二軍,2,3,3,0,1,0,0,0,...,0,0,0,0,1,2,0.500,0.00,0.000,0
3,2019,中信兄弟二軍,63,217,191,32,35,60,41,15,...,15,0,5,2,55,65,0.846,0.75,0.800,620.14
4,2020,中信兄弟二軍,4,19,18,2,4,5,2,3,...,0,0,1,0,7,6,1.167,0.00,0.600,295.78

In [5]:
df_pitching

Empty DataFrame
Columns: []
Index: []

In [6]:
df_fielding

   YEAR    TEAM   G   TC  PO    A  E  DP TP   FPCT POS
0  2019    中信兄弟   3   10   5    5  0   5  0  1.000  詳細
1  2020    中信兄弟  23   90  33   54  3  16  0  0.967  詳細
2  2018  中信兄弟二軍   2    2   1    1  0   0  0  1.000  詳細
3  2019  中信兄弟二軍  63  238  83  148  7  45  0  0.971  詳細
4  2020  中信兄弟二軍   4   21   8   11  2   6  0  0.905  詳細

In [7]:
df_battler_against

,TEAM,G,PA,AB,RBI,R,H,1B,2B,3B,...,IBB,HBP,SO,SB,CS,SB%,OBP,SLG,TA,SSA
0,富邦,9,30,25,4,2,7,5,2,0,...,0,0,4,2,0,1.000,0.321,0.360,0.684,309
1,樂天,7,26,25,0,2,8,7,1,0,...,0,0,3,0,1,0,0.320,0.360,0.500,329
2,Lamigo,1,4,3,0,2,1,1,0,0,...,0,0,0,0,0,0,0.500,0.333,0.667,334
3,統一7-ELEVEn,10,44,42,11,12,17,12,3,0,...,0,0,4,0,1,0,0.432,0.619,1.077,526

In [8]:
df_pitcher_against

Empty DataFrame
Columns: []
Index: []